blinker
Bottleneck 
click
colorama
Flask 
gunicorn==23.0.0
importlib-metadata
itsdangerous
Jinja2
MarkupSafe 
mkl-fft
mkl-random
mkl-service
numexpr 
numpy
packaging 
pandas 
python-dateutil 
pytz 
six 
scikit-learn
tzdata 
Werkzeug 
zipp 
